<p>Online art gallery located in downtown Riga, Latvia</p>
<h2>Mailing Address</h2>
<address>
Emporium Gleznas<br/>
P.O. Box LV-1050<br/>
Riga, Latvia<br/>
</address>
<h2>Contacts</h2>
<text>
E-mail: sanitaarmane@gmail.com<br/>
 Tel. : + 371 12345678<br/>

</text>